.img{
  width: 100px;
  height: 100px;
  background-color: red;
}
body{
  height:  1500px;
}
.modal{
  display: none;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  min-height: 250px;
  background-color: aquamarine;
  z-index: 6;
}
.overlay{
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
  z-index: 5;
}
.modal-callme{
  display: none;
}